/* TEXT COLOR */

.text-white {
  color: #ffffff;
}

/* FONT */

.font-normal {
  font-weight: 400;
}

.leading-none {
  line-height: 1.1;
}

.text-base {
  font-size: 16px;
}

.text-6xl {
  font-size: 60px;
}

.comfortaa {
  font-family: comfortaa;
}

.break-words {
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

/* BACKGROUND COLOR */

.bg-orange {
  background-color: #e67b13;
}

/* SIZING */

.w-full {
  width: 100%;
}

.h-20 {
  height: 5rem;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.opacity-20 {
  opacity: 0.2;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.-mt- {
  margin-top: -26rem;
}
